<!DOCTYPE html>
<html lang="cs-CZ">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="PatKin"/>
    <title>@ViewData["Title"] - EvidencePojisteniWeb</title>
    <link rel="shortcut icon" href="~/images/owl_icon.ico" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EvidencePojisteniWeb.styles.css" asp-append-version="true" />


    <style>
        .nav-underline .nav-link:hover {
            border-bottom: 2px solid #007bff;
            color: yellowgreen !important;
        }

        .nav-underline .nav-link.active {
            border-bottom: 2px solid #007bff;
            color: yellowgreen !important;
        }

        .footer-fixed {
            line-height: 40px !important;
        }
    </style>

    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark text-light bg-dark box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mb-1 fs-4 fw-bold @(ViewContext.RouteData.Values["controller"]?.ToString()
                  ==
                "Home" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "text-warning" : "text-light")"
                asp-area="" asp-controller="Home" asp-action="Index">Evidence pojištění web</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav nav-underline justify-content-center flex-grow-1">
                        <li class="nav-item mx-1">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["controller"]?.ToString() 
                                == 
                            "Pojistenec" ? "active fw-bold" : "")" asp-area="" asp-controller="Pojistenec" asp-action="Index">Pojištěnci</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["controller"]?.ToString()
                                ==
                            "Pojisteni" ? "active fw-bold" : "")" asp-area="" asp-controller="Pojisteni" asp-action="Index">Pojištění</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["controller"]?.ToString()
                                ==
                            "PojistnaUdalost" ? "active fw-bold" : "")" asp-area="" asp-controller="PojistnaUdalost" asp-action="Index">Události</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["action"]?.ToString()
                                ==
                            "Privacy" ? "active fw-bold" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">O&nbsp;aplikaci...</a>
                        </li>
                    </ul>
                    <partial name="~/Areas/Identity/Pages/_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-fixed">
        <div class="container d-flex justify-content-center">
            &copy; 2025 - Evidence pojištění -&nbsp;<a asp-area="" asp-controller="Home" asp-action="Index">App</a>&nbsp;vytvořil Patkin.cz
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
