@model EvidencePojisteniWeb.Models.PojistenecModel

@{
    ViewData["Title"] = "Odstranění pojištěnce";
}

<div class="container">
    <header class="p-2 border-bottom shadow-lg rounded-3">
        <h3 class="d-flex align-items-center text-body-emphasis text-decoration-none">
            @ViewData["Title"]
        </h3>
    </header>

    <h3 class="text-danger text-center mt-2">Opravdu si přejete odstranit tohoto pojištěnce?</h3>

    <dl class="row mt-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNarozeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNarozeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UliceCpCe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UliceCpCe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
        <div class="mt-5">
            <a class="btn btn-outline-secondary" asp-action="Index">Zpět na přehled</a>
        </div>
    </form>
</div>
