@model EvidencePojisteniWeb.Models.PaginatedList<EvidencePojisteniWeb.Models.PojistenecModel>
@using EvidencePojisteniWeb.Models.ViewModels

@{
    ViewData["Title"] = "Pojištěnci";

    // sestavení položek pro Breadscrumb
    var bcItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem { Text = "Domů", Controller = "Home", Action = "Index" },
        new BreadcrumbItem { Text = "Pojištěnci", IsActive = true }
    };
}

@await Html.PartialAsync("_Breadcrumb", bcItems)

<div class="container">
    <header class="pb-2 border-bottom">
        <h3 href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            @ViewData["Title"]
        </h3>
    </header>

    <div class="row text-center mt-4">
        <div class="col">
            <a role="button" class="btn btn-primary" asp-page="/Account/Register" asp-area="Identity">Nový pojištěnec</a>
        </div>
    </div>

    <div class="col mt-4">
        <div class="table-responsive rounded-3 overflow-hidden">
            <table class="table table-hover table-bordered mb-0">
                @if (Model.Count > 0)
                {
                    <thead>
                        <tr class="table-success">
                            <th>@Html.DisplayNameFor(model => model[0].Jmeno)</th>
                            <th>Pojištění</th>
                            <th>@Html.DisplayNameFor(model => model[0].DatumNarozeni)</th>
                            <th>@Html.DisplayNameFor(model => model[0].UliceCpCe)</th>
                            <th>@Html.DisplayNameFor(model => model[0].Mesto)</th>
                            <th>@Html.DisplayNameFor(model => model[0].PSC)</th>
                            <th>@Html.DisplayNameFor(model => model[0].Stat)</th>
                            <th>@Html.DisplayNameFor(model => model[0].Telefon)</th>
                            <th>@Html.DisplayNameFor(model => model[0].Email)</th>
                            <th></th>
                        </tr>
                    </thead>
                }
                <tbody class="">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">
                                    @item.Jmeno @item.Prijmeni
                                </a>
                            </td>
                            <td>
                                @if (item.PojisteniOsoby != null && item.PojisteniOsoby.Any())
                                {
                                    @foreach (var skupina in item.PojisteniOsoby
                                                                .Where(po => po.Pojisteni != null)
                                                                .GroupBy(PojistenecModel => PojistenecModel.Pojisteni))
                                    {
                                        <div class="mb-1">
                                            <strong>@skupina.Key?.TypPojisteni</strong><br />
                                            (@string.Join("/", skupina.Select(g => g.Role.ToString())))
                                        </div>
                                    }
                                }
                                else
                                {
                                    <span class="text-muted">Bez pojištění</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatumNarozeni)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UliceCpCe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mesto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PSC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a role="button" class="btn btn-warning m-1" asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                                <a role="button" class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <nav class="" aria-label="Stránkování">
            <ul class="pagination justify-content-center">
                <!-- pro větší čí menší .pagination-sm .pagination-lg-->
                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Předchozí</a>
                </li>

                @for(int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Další</a>
                </li>
            </ul>
        </nav>
    </div>
</div>