@model IEnumerable<EvidencePojisteniWeb.Models.ViewModels.TypPojisteniCardViewModel>
@using EvidencePojisteniWeb.Models.ViewModels

@{
    ViewData["Title"] = "Typy pojištění";

    //sestavení položek pro Breadcrumb
    var bcItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem { Text = "Domů", Controller = "Home", Action = "Index" },
        new BreadcrumbItem { Text = "Typy pojištění", IsActive = true }
    };
}

@await Html.PartialAsync("_Breadcrumb", bcItems)

<div class="container mt-4">
    <header class="p-2 border-bottom shadow-lg rounded-3">
        <h3 class="d-flex align-items-center text-body-emphasis text-decoration-none">
            Přehled typů pojištění
        </h3>
    </header>

    <div class="row mt-4">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow border-success">
                    <img src="@item.ObrazekUrl" alt="@item.Nazev" class="card-img-top" 
                        style="height: 200px; object-fit: cover;" />

                    <div class="card-body">
                        <h5 class="card-title">@item.Nazev</h5>
                        <p class="card-text">@item.Popis</p>
                    </div>

                    <div class="card-footer bg-transparent text-end">
                        <a asp-action="TypDetail" asp-route-id="@( (int)item.Typ )" class="btn btn-sm btn-outline-success">Zobrazit více</a>
                        @* V budoucnu např.: asp-action="TypDetail" asp-route-typ="@item.Typ" *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
