@model IEnumerable<EvidencePojisteniWeb.Models.PojisteniOsobyModel>

@{
    ViewData["Title"] = "Přehled přiřazených pojištění";
}

<div class="container mt-4">
    <header class="p-2 border-bottom shadow-lg rounded-3">
        <h4 class="d-flex align-items-center text-body-emphasis text-decoration-none">
            @ViewData["Title"]
        </h4>
    </header>

    <table class="table table-bordered table-striped mt-4">
        <thead class="table-success">
            <tr>
                <th>Jméno pojištěnce</th>
                <th>E-mail</th>
                <th>Typ pojištění</th>
                <th>Předmět</th>
                <th>Částka</th>
                <th>Platnost</th>
                <th>Role</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Osoba?.Jmeno @item.Osoba?.Prijmeni</td>
                    <td>@item.Osoba?.Email</td>
                    <td>@item.Pojisteni?.TypPojisteni</td>
                    <td>@item.Pojisteni?.PredmetPojisteni</td>
                    <td>@item.Pojisteni?.Castka.ToString("C")</td>
                    <td>@item.PlatnostOd.ToShortDateString() - @item.PlatnostDo.ToShortDateString()</td>
                    <td>@item.Role</td>
                    <td>
                        <a role="button" class="btn btn-secondary m-1" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                        <a role="button" class="btn btn-warning m-1" asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                        <a role="button" class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>