@model EvidencePojisteniWeb.Models.PojistnaUdalostModel

@{
    ViewData["Title"] = "Odstranění pojistné události";
}

<div class="container">
    <header class="p-2 border-bottom shadow-lg rounded-3">
        <h3 class="d-flex align-items-center text-body-emphasis text-decoration-none">
            @ViewData["Title"]
        </h3>
    </header>

    <h3 class="text-danger text-center mt-2">
        Opravdu si přejete odstranit tuto pojistnou událost?
    </h3>

    <dl class="row mt-5">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.PopisUdalosti)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.PopisUdalosti)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.DatumUdalosti)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.DatumUdalosti)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.MistoUdalosti)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.MistoUdalosti)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Skoda)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.Skoda)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Vyreseno)
        </dt>
        <dd class="col-sm-9">
            @(Model.Vyreseno ? "Ano" : "Ne")
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Svedek)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.Svedek)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.AdresaSvedka)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.AdresaSvedka)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(m => m.Poznamka)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(m => m.Poznamka)
        </dd>

        <dt class="col-sm-3">
            Typ pojištění
        </dt>
        <dd class="col-sm-9">
            @Model.Pojisteni?.PredmetPojisteni
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <input type="submit"
               value="Odstranit"
               class="btn btn-lg btn-danger" />

        <div class="mt-5">
            <a class="btn btn-outline-secondary"
               asp-action="Index">
                Zpět na přehled
            </a>
        </div>
    </form>
</div>
